<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".nsf" mimeType="file/download" />
        </staticContent>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
